* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.bg {
  background-image: url("assets/bg.jpg");
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding: 3%;
}

.container {
  background-color: #fff;
  height: auto;
  border-radius: 10px;
  padding: 2% 2%;
  width: 70%;
}

.first,
.second,
.third,
.fourth {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
}

.title,
.subtitle {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: #6e3e56;
}

.subtitle {
  padding-bottom: 3%;
  color: #333;
}

.content {
  width: 30vw;
}

li {
  margin-left: 5%;
}

.first h2 {
  padding-bottom: 3%;
}

.second ul {
  padding-top: 3%;
}

.third h2 {
  padding-bottom: 3%;
}

.fourth h2 {
  padding-bottom: 3%;
}

h2 {
  font-size: 15px;
  color: #6e3e56;
}

.xp {
  padding-bottom: 3%;
}

.content2 {
  width: 30vw;
  margin-top: 3%;
}

h3 {
  padding-bottom: 1%;
}

.content p {
  padding-bottom: 2%;
}

p {
  width: 20vw;
}

li {
  padding-bottom: 1%;
}
